
.bg-white{
    -fx-background: #fff;
    -fx-background-color: #fff;
}

ScrollPane{
    -fx-background-color: transparent;
    -fx-border: none;
}

.button,.toggle-button{
    -fx-background: transparent;
    -fx-background-color: transparent;
}

.button:hover,.toggle-button:hover, #menu:hover{
    -fx-cursor: hand;
}

.toggle-button:selected{
    -fx-text-fill: #0065B1;
}

.toggle-button:selected Rectangle{
    -fx-fill: #0065B1;
}

.min .toggle-button{
    -fx-content-display: GRAPHIC-ONLY;
}

.searchBox{
    -fx-background: #fff;
    -fx-background-color: #fff;
    -fx-background-radius: 8px;
}

ListView{
    -fx-background-insets: 0;
}

.box{
    -fx-background: #fff;
    -fx-background-color: #fff;
    -fx-background-radius: 8px;
}

.searchBox TextField{
    -fx-text-box-border: none;
}

.link_btn{
    -fx-background-color: transparent;
    -fx-text-fill: blue;
    -fx-padding: 0;
}

.link_btn:hover{
    -fx-underline: true;
}

.btn{
    -fx-text-fill: #fff;
}

.btn: hover{
    -fx-opacity: 0.8;
}

.btn-primary{
    -fx-background-color: darkblue;
}